<div>
  <a href="#/app/device" class="data-room">
    <p class="data-room-title">18#</p>
    <p class="data-room-body">Vmware View Server，、备份服务器1-2.19</p>
  </a>
  <a href="#/app/device" class="data-room">
    <p class="data-room-title">19#</p>
    <p class="data-room-body">创发计费1、DSView服务器、创发计费2、虚拟机2.57(电信外网)、备份服务器2-2.130</p>
  </a>
  <a href="#/app/device" class="data-room">
    <p class="data-room-title">20#</p>
    <p class="data-room-body">CMS后台、外语学院、网络部网管、教务处DB、前湖之风</p>
  </a>
  <a href="#/app/device" class="data-room">
    <p class="data-room-title">21#</p>
    <p class="data-room-body">新闻网</p>
  </a>
  <a href="#/app/device" class="data-room">
    <p class="data-room-title">22#</p>
    <p class="data-room-body">财务处服务器、VPN、期刊社服务器</p>
  </a>
  <a href="#/app/device" class="data-room">
    <p class="data-room-title">23#</p>
    <p class="data-room-body">艺术学院视频会议</p>
  </a>
  <a href="#/app/device" class="data-room">
    <p class="data-room-title">24#</p>
    <p class="data-room-body">节能监控平台</p>
  </a>
  <a href="#/app/device" class="data-room">
    <p class="data-room-title">25#</p>
    <p class="data-room-body">保卫处安防监控(4*HP DL160L)、网络中心IP存储（华赛）</p>
  </a>
  <a href="#/app/device" class="data-room">
    <p class="data-room-title">26#</p>
    <p class="data-room-body">神码7600、交换设备</p>
  </a>
  <a href="#/app/device" class="data-room">
    <p class="data-room-title">27#</p>
    <p class="data-room-body">中部中心、软件学院徐健峰、科技园DB、科技园Web、教务处测试</p>
  </a>
  <a href="#/app/device" class="data-room">
    <p class="data-room-title">A5#</p>
    <p class="data-room-body"></p>
  </a>
</div>
