<div>
  <a href="#/app/device" class="data-room">
    <p class="data-room-title">11#</p>
    <p class="data-room-body"></p>
  </a>
  <a href="#/app/device" class="data-room">
    <p class="data-room-title">12#IPv6</p>
    <p class="data-room-body">IPv6主交换、Cisco12000</p>
  </a>
  <a href="#/app/device" class="data-room">
    <p class="data-room-title">13#IPv6</p>
    <p class="data-room-body">IPv6</p>
  </a>
  <a href="#/app/device" class="data-room">
    <p class="data-room-title">17#现教</p>
    <p class="data-room-body">网络教学平台、磁盘阵列</p>
  </a>
  <a href="#/app/device" class="data-room">
    <p class="data-room-title">14#一卡通</p>
    <p class="data-room-body">Oracle数据库、Webservice、管理中心</p>
  </a>
  <a href="#/app/device" class="data-room">
    <p class="data-room-title">16#现教</p>
    <p class="data-room-body">远程教学DB、点播服务器、远程教学Web</p>
  </a>
  <a href="#/app/device" class="data-room">
    <p class="data-room-title">15#</p>
    <p class="data-room-body">电视转播、动环监控</p>
  </a>
  <a href="#/app/device" class="data-room">
    <p class="data-room-title">A3#刀片服务器</p>
    <p class="data-room-body">GoogleMini、OA、OAMail、学校主页、文档服务器</p>
  </a>
  <a href="#/app/device" class="data-room">
    <p class="data-room-title">A4# IBM</p>
    <p class="data-room-body">家园网、教务在线、档案管理</p>
  </a>
</div>
