<div>
  <a href="#/app/device" class="data-room">
    <p class="data-room-title">1#</p>
    <p class="data-room-body">语音配线程控交换</p>
  </a>
  <a href="#/app/device" class="data-room">
    <p class="data-room-title">2#</p>
    <p class="data-room-body">校内楼栋光纤配线</p>
  </a>
  <a href="#/app/device" class="data-room">
    <p class="data-room-title">3#</p>
    <p class="data-room-body">校内楼栋光纤配线</p>
  </a>
  <a href="#/app/device" class="data-room">
    <p class="data-room-title">34#</p>
    <p class="data-room-body">学校保卫处监控</p>
  </a>
  <a href="#/app/device" class="data-room">
    <p class="data-room-title">4#</p>
    <p class="data-room-body">机房机柜光纤配线</p>
  </a>
  <a href="#/app/device" class="data-room">
    <p class="data-room-title">30#</p>
    <p class="data-room-body">华林华医疗</p>
  </a>
  <a href="#/app/device" class="data-room">
    <p class="data-room-title">5#</p>
    <p class="data-room-body">办公区域配线</p>
  </a>
  <a href="#/app/device" class="data-room">
    <p class="data-room-title">35#</p>
    <p class="data-room-body">新光纤汇聚点</p>
  </a>
  <a href="#/app/device" class="data-room">
    <p class="data-room-title">A1# Dell</p>
    <p class="data-room-body">虚拟机精品课程认证计费数据库</p>
  </a>
</div>
