
<ion-view hide-tabs="true" view-title="单位领导审批">
  <ion-content>
    <ion-item class="item item-input">
      <div class="input-label">
        部门领导意见
      </div>
      <p>{{data.variables.leaderBackReason}}</p>
    </ion-item>

    <div class="item item-divider">
    </div>
    <div class="item item-input">
      <div class="input-label">申请人</div>
      <p>{{data.user.name}}</p>
    </div>
    <div class="item item-input">
      <div class="input-label">申请时间</div>
      <p>{{data.createDate}}</p>
    </div>
    <div class="item item-input">
      <div class="input-label">假种</div>
      <p>{{data.leaveTypeDictLabel}}</p>
    </div>
    <div class="item item-input">
      <div class="input-label">开始时间</div>
      <p>{{data.startTime}}</p>
    </div>
    <div class="item item-input">
      <div class="input-label">结束时间</div>
      <p>{{data.endTime}}</p>
    </div>
    <div class="item item-input">
      <div class="input-label">请假事由</div>
      <p>{{data.reason}}</p>
    </div>

    <div class="two-btn">
      <button ng-click="agreeLeave()">同意</button>
      <button ng-click="refuseLeave()">驳回</button>
    </div>
  </ion-content>
</ion-view>
