<ion-view view-title="南昌大学网络中心IPV6">
  <ion-content>
    <!--轮播图片-->
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div class="box yellow"><img class="img-responsive" src="img/a.jpg" alt=""></div>
      </ion-slide>
      <ion-slide>
        <div class="box blue"><img class="img-responsive" src="img/e.jpg" alt=""></div>
      </ion-slide>
    </ion-slide-box>
    <div class="page-panel">
    <div class="row">
      <div class="col text-center border-all to-top">
        <a href="#/app/newMenu">

          <i class="icon ion-ios-analytics balanced"></i>
          <p>通知公告</p>

        </a>
      </div>
      <div class="col text-center border-all to-left-top">
        <a href="#/app/askWorkMenu">
          <i class="icon ion-printer positive"></i>
          <p>加班申请</p>
        </a>
      </div>
      <div class="col text-center border-all to-left">
        <a href="#/app/leaveMenu">
          <i class="icon ion-merge energized"></i>
          <p>请假申请</p>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col text-center border-all">
        <a href="#/app/weeklyMenu">
          <i class="icon ion-map balanced"></i>
          <p>实习生</p>
        </a>
      </div>
      <div class="col text-center border-all to-left">
        <a href="#/app/viewBigRecord">
          <i class="icon ion-help-buoy royal"></i>
          <p>大事记</p>
        </a>
      </div>
      <div class="col text-center border-all to-left-top">
        <a href="#/app/viewBugRecord">
          <i class="icon ion-settings calm"></i>
          <p>故障记录</p>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col text-center border-all to-left-top">
        <a href="#/app/viewDayOperation">
          <i class="icon ion-chatbubble-working assertive"></i>
          <p>运维日志</p>
        </a>
      </div>
      <div class="col text-center border-all to-top">
        <a href="#/app/quartWork">
          <i class="icon ion-umbrella assertive"></i>
          <p>季度工作</p>
        </a>
      </div>

      <div class="col text-center border-all to-left-top">
        <a href="#/app/workMenu">
          <i class="icon ion-shuffle energized"></i>
          <p>Ncu监控</p>
        </a>
      </div>
    </div>
      </div>
  </ion-content>
</ion-view>

