<ion-view hide-tabs="true" view-title="季度工作">
  <ion-content>
    <ion-list>
      <div class="item item-divider">
        <label>季度工作表</label>
      </div>
      <ion-item class="item item-input">
        <div class="input-label">
          季度
        </div>
        <input type="text">
      </ion-item>
      <ion-item class="item item-input">
        <div class="input-label">
          调度人
        </div>
        <input type="text">
      </ion-item>
      <ion-item class="item item-input">
        <div class="input-label">
          监管人
        </div>
        <input type="text">
      </ion-item>

      <div class="item item-divider">
        <label>机房空调清扫</label>
      </div>
      <div class="item item-input">
        <div class="input-label">
          外径楼5号楼环材楼扶着人签字
        </div>
        <input type="text">
      </div>
      <div class="item item-input">
        <div class="input-label">
          实验楼网络中心医学院负责人签字
        </div>
        <input type="text">
      </div>
      <div class="item item-input">
        <div class="input-label">
          青山湖负责人签字
        </div>
        <input type="text">
      </div>
      <div class="item item-input">
        <div class="input-label">
          东湖区域负责人签字
        </div>
        <input type="text">
      </div>

      <div class="item item-divider">
        <label>机房UPS充放电</label>
      </div>
      <div class="item item-input">
        <div class="input-label">
          外径楼5号楼环材楼扶着人签字
        </div>
        <input type="text">
      </div>
      <div class="item item-input">
        <div class="input-label">
          实验楼网络中心医学院负责人签字
        </div>
        <input type="text">
      </div>
      <div class="item item-input">
        <div class="input-label">
          青山湖负责人签字
        </div>
        <input type="text">
      </div>
      <div class="item item-input">
        <div class="input-label">
          东湖区域负责人签字
        </div>
        <input type="text">
      </div>

      <div class="item item-divider">
        <label>接入机房巡检并打扫卫生</label>
      </div>
      <div class="item item-input">
        <div class="input-label">
          外径楼5号楼环材楼扶着人签字
        </div>
        <input type="text">
      </div>
      <div class="item item-input">
        <div class="input-label">
          实验楼网络中心医学院负责人签字
        </div>
        <input type="text">
      </div>
      <div class="item item-input">
        <div class="input-label">
          青山湖负责人签字
        </div>
        <input type="text">
      </div>
      <div class="item item-input">
        <div class="input-label">
          东湖区域负责人签字
        </div>
        <input type="text">
      </div>

      <div class="item item-divider">
        <label>电动车深度充放电一次</label>
      </div>
      <div class="item item-input">
        <div class="input-label">
          外径楼5号楼环材楼扶着人签字
        </div>
        <input type="text">
      </div>
      <div class="item item-input">
        <div class="input-label">
          实验楼网络中心医学院负责人签字
        </div>
        <input type="text">
      </div>
      <div class="item item-input">
        <div class="input-label">
          青山湖负责人签字
        </div>
        <input type="text">
      </div>
      <div class="item item-input">
        <div class="input-label">
          东湖区域负责人签字
        </div>
        <input type="text">
      </div>


      <div class="item item-divider">
        <label>设备管理地址表更新</label>
      </div>
      <div class="item item-input">
        <div class="input-label">
          外径楼5号楼环材楼扶着人签字
        </div>
        <input type="text">
      </div>
      <div class="item item-input">
        <div class="input-label">
          实验楼网络中心医学院负责人签字
        </div>
        <input type="text">
      </div>
      <div class="item item-input">
        <div class="input-label">
          青山湖负责人签字
        </div>
        <input type="text">
      </div>
      <div class="item item-input">
        <div class="input-label">
          东湖区域负责人签字
        </div>
        <input type="text">
      </div>

      <div class="item item-divider">
        <label>季度工作报告</label>
      </div>
      <div class="item item-input">
        <div class="input-label">
          负责人签字
        </div>
        <input type="text">
      </div>


    </ion-list>
    <div class="padding">
      <button type="submit" class="button button-block button-positive">提交</button>
    </div>
    </form>
  </ion-content>
</ion-view>



