<div class="list card" ng-repeat="data in datas">
  <div ng-switch="data.taskDefKey" ng-if="data.status=='todo'">
    <div ng-switch-when="audit">
      <a href="#/app/leadApprovalWork/{{data.procInsId}}/{{data.taskId}}" class="item item-avatar">
        <img src="img/user.png">
        <p style="font-size: 16px;line-height: 30px;">{{data.vars.map.title}}<span style="font-size: 14px;float:right">{{data.task.createTime}}</span></p>
        <label class="task-label-claim">{{data.taskName}}</label>
      </a>
    </div>
    <div ng-switch-when="complete">
      <a href="#/app/realAskWork/{{data.procInsId}}/{{data.taskId}}" class="item item-avatar">
        <img src="img/user.png">
        <p style="font-size: 16px;line-height: 30px;">{{data.vars.map.title}}<span style="font-size: 14px;float:right">{{data.task.createTime}}</span></p>
        <label class="task-label-back">{{data.taskName}}</label>
      </a>
    </div>
  </div>

      <div class="item item-avatar" ng-if="data.status=='claim'">
        <img src="img/user.png">
        <p style="font-size: 16px;line-height: 30px;">{{data.vars.map.title}}<span style="font-size: 14px;float:right">{{data.task.createTime}}</span></p>
        <label class="task-label-claim">{{data.taskName}}</label>
      </div>

      <div class="item tabs tabs-icon-left stable-bg" ng-if="data.status=='claim'">
        <a class="tab-item" ng-click="signWork(data.taskId)">
          <i class="icon ion-checkmark-circled balanced"></i>
          签收
        </a>
      </div>

</div>
<div style="margin: 30px auto;display: block" ng-if="!datas">
  <div class="no-data">
    <p><i class="ion-social-reddit-outline positive"></i></p>
    <p>暂无数据</p>
  </div>
</div>

