<div class="has-header  has-tabs ionic-pseudo">

  <div class="list card">

    <div class="item item-avatar">
      <img src="img/user.png">
      <h2>翁培琦</h2>
      <p>开发部人员</p>
    </div>
    <div class="item">
      <label class="item">
        <span>本周完成工作：</span>
        <span>设计手机UI界面</span>
      </label>
      <label class="item">
        <span>本周工作总结：</span>
        <span>设计手机UI界面</span>
      </label>
      <label class="item">
        <span>下周工作计划：</span>
        <span>设计手机UI界面</span>
      </label>
    </div>
    <div class="item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item" href="#">
        <i class="icon ion-thumbsup"></i>
        Like
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-chatbox"></i>
        Comment
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-share"></i>
        Share
      </a>
    </div>
    </label>
  </div>
</div>
