<div class=" has-tabs-top has-tabs ionic-pseudo" >

  <div class="list card" ng-repeat="paper in papers">

    <div class="item item-avatar">
      <img src="img/user.png">
      <h2>{{paper.author}}</h2>
      <p>开发部人员&nbsp;{{paper.remarks}}</p>
    </div>
    <div class="item">
      <label class="item">
        <span>本周完成工作：</span>
        <span>{{paper.finnishedwork}}</span>
      </label>
      <label class="item">
        <span>本周工作总结：</span>
        <span>{{paper.summary}}</span>
      </label>
      <label class="item">
        <span>下周工作计划：</span>
        <span>{{paper.plan}}</span>
      </label>
    </div>
    <div class="item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item" href="#">
        <i class="icon ion-thumbsup"></i>
        Like
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-chatbox"></i>
        Comment
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-share"></i>
        Share
      </a>
    </div>

  </div>
</div>


<div style="margin: 30px auto;display: block" ng-if="!papers">
  <div class="no-data">
    <p><i class="ion-social-reddit-outline positive"></i></p>
    <p>暂无数据</p>
  </div>
</div>
